{%extends 'base_user/base.html'%}

{%block content%}

    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Editar perfil</h4>
                        <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <img src="{{artista.imagen.url}}" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Puede subir una fotografia diferente...</h6>
        <input type="file" class="text-center center-block well well-sm">
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a> 
        <i class="fa fa-coffee"></i>
        Toda la informacion subida queda a criterio del  <strong>artista</strong>. 
      </div>
      <h3>Informacion personal</h3>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">Nombre:</label>
          <div class="col-lg-8">
            <input class="form-control" value="{{form2.first_name.value}}" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Apellido:</label>
          <div class="col-lg-8">
            <input class="form-control" value="{{form2.last_name.value}}" type="text">
          </div>
        </div>

 
<script type="text/javascript">
    $(".form_datetime").datetimepicker({
        format: "dd MM yyyy - hh:ii",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left"
    });
</script>

               <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control" value="{{form2.email.value}}" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Categoria:</label>
          <div class="col-lg-8">
            <div class="ui-select">
              <select id="user_time_zone" class="form-control">
                <option value="Musica">Musica</option>
                <option value="Teatro">Teatro</option>
                <option value="Danza">Danza</option>
                <option value="Otros">Otros</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Usuario:</label>
          <div class="col-md-8">
            <input class="form-control" value="{{form2.username.value}}" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Contraseña:</label>
          <div class="col-md-8">
            <input class="form-control" value="11111122333" type="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Confirmar contraseña:</label>
          <div class="col-md-8">
            <input class="form-control" value="11111122333" type="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="btn btn-primary" value="Guardar cambios" type="button">
            <span></span>
            <input class="btn btn-default" value="Cancelar" type="reset">
          </div>
        </div>
      </form>
    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    

                    
                </div>

            </div>
        </div>
    </div>

{%endblock%}


<!--

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
</head>

<body>

	<h1> Registro artista </h1>
	<form method='POST' action='' enctype='multipart/form-data'>
		{%csrf_token%}
		<p> <label>Nombre:</label>
		{{form2.first_name}}</p>

		<p><label>Apellido:</label>
		{{form2.last_name}}</p>

		<p><label>Foto:</label>
		{{form.imagen}}</p>

		<p><label>Correo:</label>
		{{form2.email}}</p>

		<p><label>Telefono:</label>
		{{form.telefono}}

		<p><label>Descripcion:</label>
		{{form.descripcion}}}

		{{form.errors.as_data}}
		<p><input type="submit" value="Guardar"></p>
	</form>
</body>

</html>l
-->