{% extends 'base/base_principal.html'%}


{% block content%}
	<section id="event">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-9">
					<div id="event-carousel" class="carousel slide" data-interval="false">
						<h2 class="heading">Listado de artistas</h2>


							<div class="well well-sm">

        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>Lista</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Cuadrado</a>
        </div>
    </div>

    <div id="products" class="row list-group">

        {% if object_list%}
        {% for artista in object_list%}
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="{{artista.imagen.url}}" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{artista.user.first_name}} {{artista.user.last_name}}</h4>
                    <p class="group inner list-group-item-text">
                        {{artista.descripcion}}</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">

                        </div>

                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
        {%else%}
        <h1> No hay artistas registrados <h1>
        {%endif%}







					</div>
				</div>
			</div>
		</div>
	</section><!--/#event-->

{% endblock %}