{% extends 'base.html'%}

{% block content%}
	<section id="explore">
		<div class="container">
			<div class="row">
						<div class="watch1">
					<img class="img-responsive" src="static/img/guitar.png" alt="">
				</div>		
				<div class="col-md-4 col-md-offset-2 col-sm-5">
					<h2>Registro usuarios</h2>
				</div>				
				<div class="col-sm-7 col-md-6">					
					

						<div class="panel-body">
			    		<form role="form" method="POST" enctype='multipart/form-data'>
			    			{%csrf_token%}
			    			{{form.errors.as_data}}
			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			                <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="Primer nombre">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Apellido">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="text" name="telefono" id="telefono" class="form-control input-sm" placeholder="Telefono">
			    					</div>
			    				</div>

			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="usuario" name="username" id="username" class="form-control input-sm" placeholder="Usuario">
			    					</div>
			    				</div>


			    				<div class="col-xs-6 col-sm-6 col-md-6">
                                	<div class="form-group">
                        				<input type="date" name="fecha_nacimiento" id="fecha_nacimiento" class="form-control input-sm"  placeholder="Fecha nacimiento">
                   					 </div>
                				</div>


                                <div class="col-xs-6 col-sm-6 col-md-6">
                                	<div class="form-group">
					                        <select id="country" class="form-control">
					                            <option>Masculino</option>
					                            <option>Femenino</option>
					                        </select>
					                    </div>
					                </div> <!-- /.form-group -->
								    			</div>


							<div class="form-group">
											{{form.departamento}}
					                        <!--<select id="departamento" name='departamento' class="form-control">
					                            <option>Quetzaltenango</option>
					                            <option>Baja Verapaz</option>
					                            <option>Chiquimula</option>
					                            <option>Chimaltenango</option>
					                            <option>Guatemala</option>
					                            <option>El Progreso</option>
					                            <option>Escuintla</option>
					                            <option>Huehuetenango</option>
					                            <option>Izabal</option>
					                            <option>Jalapa</option>
					                            <option>Jutiapa</option>
					                            <option>Peten</option>
					                            <option>Quiche</option>
					                            <option>Retalhuleu</option>
					                            <option>Sacatepequez</option>
					                            <option>Santa Rosa</option>
					                            <option>San Marcos</option>
					                            <option>Solola</option>
					                            <option>Suchitepequez</option>
					                            <option>Totonicapan</option>
					                            <option>Zacapa</option>
					                            
					                        </select>-->
					         </div>

							

			    			<div class="form-group">
			    				<input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
			    			</div>
			    			<div class="form-group">
			    				  <input type="file" name="imagen" id="imagen" class="form-control input-sm" placeholder="Subir imagen">
                    
			    			</div>
			    			

			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password1" id="password1" class="form-control input-sm" placeholder="Password">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password2" id="password2" class="form-control input-sm" placeholder="Confirm Password">
			    					</div>
			    				</div>
			    			</div>

			    			<div class="form-group">
			    				<textarea type="descripcion"  name="descripcion"  rows="5" id="descrpicion" class="form-control input-sm" placeholder="descripcion"></textarea>
			    			</div>
			    			
			    			<input type="submit" value="Register" class="btn btn-info btn-block">
			    		
			    		</form>
			    	


				</div>
			</div>
			
		</div>
	</section>
{% endblock%}


<!--<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
</head>

<body>

	<h1> Registro artista </h1>
	<form method='POST' action='' enctype='multipart/form-data'>
		{%csrf_token%}
		<p> <label>Nombre:</label>
		{{form2.first_name}}</p>

		<p><label>Apellido:</label>
		{{form2.last_name}}</p>

		<p><label>Sexo:</label>
		{{form.genero}}</p>

		<p><label>Fecha de nacimiento:</label>
		{{form.fecha_nacimiento}}</p>

		<p><label>Foto:</label>
		{{form.imagen}}</p>

		<p><label>Correo:</label>
		{{form2.email}}</p>

		<p><label>Telefono:</label>
		{{form.telefono}}</p>

		<p><label>Usuario</label>
		{{form2.username}}</p>

		<p><label>Contraseña</label>
		{{form2.password1}}</p>

		<p><label>Confirmar Contraseña</label>
		{{form2.password2}}</p>

		<p><label>Descripcion:</label>
		{{form.descripcion}}</p>

		{{form2.errors.as_data}}
		{{form.errors.as_data}}
		<p><input type="submit" value="Guardar"></p>
	</form>
</body>

</html>

-->