{%extends 'base/base_user.html'%}

    <!-- MENU SECTION END-->
{%block content%}

 <!-- MENU SECTION END-->
 <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Modificacion de evento</h4>
                        <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">


      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-coffee"></i>
        <strong>Llenar todos los campos</strong>.
      </div>
      <h3>Evento</h3>
      <form class="form-horizontal" role="form" method="POST" enctype='multipart/form-data'>
      {%csrf_token%}

        <div class="form-group">
          <label class="col-lg-3 control-label">Titulo:</label>
          <div class="col-lg-8">
            <input class="form-control" value="{{evento.titulo}}" type="text" name="titulo">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Horario:</label>
          <div class="col-lg-8">
            <input class="form-control" value="{{evento.horario| date:'Y-m-d H:i'}}" type="text" name="horario">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Direccion:</label>
          <div class="col-lg-8">
            <input class="form-control" value="{{evento.direccion}}" type="text" name="direccion">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Imagen:</label>
          <div class="col-lg-8">
            <input class="form-control" value="" type="file" name="imagen">
          </div>
        </div>



<script type="text/javascript">
    $(".form_datetime").datetimepicker({
        format: "dd MM yyyy - hh:ii",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left"
    });
</script>

          <div class="form-group">
          <label class="col-lg-3 control-label">Descripcion:</label>
          <div class="col-lg-8">
            <textarea class="form-control" value="{{evento.descripcion}}" type="text" name="descripcion">{{evento.descripcion}}
            </textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Categoria:</label>
          <div class="col-lg-8">
            <div class="ui-select">
              {{form.categoria}}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="btn btn-primary" value="Guardar cambios" type="submit">
            <span></span>
            <input class="btn btn-default" value="Cancelar" type="reset">
          </div>
        </div>
      </form>
    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-md-12">



                </div>

            </div>
        </div>
    </div>


{%endblock%}




