{% extends 'base/base_principal.html'%}

	
{% block content%}
	<section id="event">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-9">
					<div id="event-carousel" class="carousel slide" data-interval="false">
						<h2 class="heading">Listado de eventos</h2>
					
															
							<div class="well well-sm">
        
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>Lista</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Cuadrado</a>
        </div>
    </div>

    <div id="products" class="row list-group">

        {% if object_list%}
        {% for evento in object_list%}
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="{{evento.imagen.url}}" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{evento.titulo}}</h4>
                    <p class="group inner list-group-item-text">
                        {{evento.descripcion}}</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="#">Ver mas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
        {%else%}
        <h1> No hay eventos <h1>
        {%endif%}



         <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="#">Atras</a>
                        </div> <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="#">Siguiente</a>
                        </div>


    </div>





					</div>
				</div>
			</div>			
		</div>
	</section><!--/#event-->
	
{% endblock %}
