{%extends 'base_user/base.html'%}

{%block navbar%}{%endblock%}  

{%block content%}
   <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Favor de iniciar sesión para la administracion de su cuenta</h4>

                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                     <form method="POST">
                     {% csrf_token %}
                     <label>Intruduce tu usuario: </label>
                        <input type="text" class="form-control" name="username" />
                        <label>Intruduce tu contraseña :  </label>
                        <input type="password" name="password" class="form-control" />
                    
                        <hr />

                        <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-user"></span> &nbsp;Iniciar session</button>
                       
                    </form>
                </div>
                <div class="col-md-6">
                   
                    <div class="alert alert-success">
                         <strong> Instrucciones de uso:</strong>
                        <ul>
                            <li>
                               El contenido ingresado sera previamente verificado para su publicacion
                            </li>
                            <li>
                                 No podra ingresar contenido protegido por derechos de autor
                            </li>
                            <li>
                               La casa de la cultura no es responsable por el contenido ingresado.
                            </li>
                            
                        </ul>
                       
                    </div>
                </div>

            </div>
        </div>
    </div>

{%endblock%}

<!--<DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <title>Logueo</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
     <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <label for="username">Nombre de usuario:</label>
                <input class="form-control" type="text" name="username">
           </div>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <label for="username">Contraseña:</label>
                <input class="form-control" type="password" name="password">
           </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <a href="">Olvidé mi contraseña</a>
                <input class="btn btn-primary" type="submit" value="Ingresar">
           </div>
        </div>
    </div>
</form>

</body>
</html>
-->
